.circle {
	margin-right: .25rem;
}

.green {
	color: var(--green)
}

.row {
	font-size: smaller;
}

.row:hover {
	background-color: var(--light-gray);
	cursor: pointer;
}

.row:hover.checked, .checked {
	background-color: var(--dark-gray);
}